header {
    background-color: royalblue;
    color: beige;
    min-width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: dotted gold 10px;
}

header img {
    align-self: flex-end;
}

p {
    font-size: 1.2rem;
}

#myskills {
    font-size: 1.8rem;
    font-family: "Impact";
    color: fuchsia;
}

nav {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin: 0;
    padding: 0;
    background-color: darkslateblue;
}

.nav-button {
    display: block;
    color: antiquewhite;
    text-decoration-line: unset;
    font-size: 1.5rem;
    margin: 0;
    height: 2rem;
}

.active {
    background-color: lightblue;
    color: darkslategray;
}

.subheading {
    text-decoration: underline rebeccapurple 2px;
    font-style: italic;
}

.goal-li {
    color: fuchsia;
    height: 12;
}

* {
    margin: 10px;
    padding: 1px;
    font-family: fantasy;
}

.box1 {
    background-color: aqua;
    margin: 15px 1rem;
}

.container {
    max-width: 540px;
}

input[type="submit"] {
    padding: 8px;
    border: none;
    background-color: darkblue;
    color: whitesmoke;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.clickable:active {
    transform: translateY(5px);
}